/* section intro start
	============================================================================================ */
.section-intro{
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;

  p{
    margin-bottom: 0;
  }
}

.section-intro-img{
  margin-bottom: 10px;
}

// .section-intro-white{

//   & > *{
//     color: $white;
//   }
// }

/* section intro end
	============================================================================================ */


